/* hero */
.hero { 
    background-color: rgba(255, 255, 255, 0.6);
    height: auto;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero > .container,
.hero > .container > .row { height: 100%; }
.hero .image { width: 100% }

.hero .banner-copy-bg { padding: 30px 20px; }
.hero a { margin-right: 30px; margin-bottom: 10px; }

@media(min-width: 576px) {
    .hero a { margin-bottom: 0; }

    .hero .hero-text-box {
        background-color: transparent !important;
    }
    .hero .hero-text-box h1 {
        color: #000 !important;
    }
    .hero .hero-text-box .lead {
        color: #000 !important;
    }
}