@font-face {
    font-family: BentonSans;
    src: url("../fonts/BentonSans-Regular.eot");
    src: url("../fonts/BentonSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Regular.woff2") format("woff2"), url("../fonts/BentonSans-Regular.woff") format("woff"), url("../fonts/BentonSans-Regular.ttf") format("truetype"), url("../fonts/BentonSans-Regular.svg#BentonSans-Regular") format("svg");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: BentonSans;
    src: url("../fonts/BentonSans-RegularItalic.eot");
    src: url("../fonts/BentonSans-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-RegularItalic.woff2") format("woff2"), url("../fonts/BentonSans-RegularItalic.woff") format("woff"), url("../fonts/BentonSans-RegularItalic.ttf") format("truetype"), url("../fonts/BentonSans-RegularItalic.svg#BentonSans-RegularItalic") format("svg");
    font-style: italic;
    font-weight: 400;
  }
  
  @font-face {
    font-family: BentonSans;
    src: url("../fonts/BentonSans-Bold.eot");
    src: url("../fonts/BentonSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Bold.woff2") format("woff2"), url("../fonts/BentonSans-Bold.woff") format("woff"), url("../fonts/BentonSans-Bold.ttf") format("truetype"), url("../fonts/BentonSans-Bold.svg#BentonSans-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
  }
  
  @font-face {
    font-family: BentonSans;
    src: url("../fonts/BentonSans-BoldItalic.eot");
    src: url("../fonts/BentonSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-BoldItalic.woff2") format("woff2"), url("../fonts/BentonSans-BoldItalic.woff") format("woff"), url("../fonts/BentonSans-BoldItalic.ttf") format("truetype"), url("../fonts/BentonSans-BoldItalic.svg#BentonSans-BoldItalic") format("svg");
    font-style: italic;
    font-weight: 700;
  }
  
  @font-face {
    font-family: BentonSansCond;
    src: url("../fonts/BentonSansCond-Light.eot");
    src: url("../fonts/BentonSansCond-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansCond-Light.woff2") format("woff2"), url("../fonts/BentonSansCond-Light.woff") format("woff"), url("../fonts/BentonSansCond-Light.ttf") format("truetype"), url("../fonts/BentonSansCond-Light.svg#BentonSansCond-Light") format("svg");
    font-style: normal;
    font-weight: 300;
  }
  
  @font-face {
    font-family: BentonSansCond;
    src: url("../fonts/BentonSansCond-Regular.eot");
    src: url("../fonts/BentonSansCond-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansCond-Regular.woff2") format("woff2"), url("../fonts/BentonSansCond-Regular.woff") format("woff"), url("../fonts/BentonSansCond-Regular.ttf") format("truetype"), url("../fonts/BentonSansCond-Regular.svg#BentonSansCond-Regular") format("svg");
    font-style: normal;
    font-weight: 400;
  }
  
  @font-face {
    font-family: BentonSansCond;
    src: url("../fonts/BentonSansCond-RegularItalic.eot");
    src: url("../fonts/BentonSansCond-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansCond-RegularItalic.woff2") format("woff2"), url("../fonts/BentonSansCond-RegularItalic.woff") format("woff"), url("../fonts/BentonSansCond-RegularItalic.ttf") format("truetype"), url("../fonts/BentonSansCond-RegularItalic.svg#BentonSansCond-RegularItalic") format("svg");
    font-style: italic;
    font-weight: 400;
  }
  
  @font-face {
    font-family: BentonSansCond;
    src: url("../fonts/BentonSansCond-Medium.eot");
    src: url("../fonts/BentonSansCond-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansCond-Medium.woff2") format("woff2"), url("../fonts/BentonSansCond-Medium.woff") format("woff"), url("../fonts/BentonSansCond-Medium.ttf") format("truetype"), url("../fonts/BentonSansCond-Medium.svg#BentonSansCond-Medium") format("svg");
    font-style: normal;
    font-weight: 500;
  }
  
  @font-face {
    font-family: BentonSansCond;
    src: url("../fonts/BentonSansCond-MediumItalic.eot");
    src: url("../fonts/BentonSansCond-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansCond-MediumItalic.woff2") format("woff2"), url("../fonts/BentonSansCond-MediumItalic.woff") format("woff"), url("../fonts/BentonSansCond-MediumItalic.ttf") format("truetype"), url("../fonts/BentonSansCond-MediumItalic.svg#BentonSansCond-MediumItalic") format("svg");
    font-style: italic;
    font-weight: 500;
  }
  
  @font-face {
    font-family: BentonSansCond;
    src: url("../fonts/BentonSansCond-Bold.eot");
    src: url("../fonts/BentonSansCond-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSansCond-Bold.woff2") format("woff2"), url("../fonts/BentonSansCond-Bold.woff") format("woff"), url("../fonts/BentonSansCond-Bold.ttf") format("truetype"), url("../fonts/BentonSansCond-Bold.svg#BentonSansCond-Bold") format("svg");
    font-style: normal;
    font-weight: 700;
  }
  